@font-face {
	font-family: "oldlondon";
	src: url("/oldlondon.ttf") format("truetype");
}
html {
	background: #fff;
	color: #000;
	font-family: serif;
	margin: 15px auto;
	max-width: 1200px;
}
header {
	text-align: center;
}
header a {
	color: #000;
	text-decoration: none;
	font: 40px "oldlondon", serif;
}
a {
	color: #00c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
div.articledate {
	font-style: italic;
}
ul.postlist {
	font-weight: bold;
}
tr.odd {
	background: #ddd;
}
